*{margin:0; padding:0;}
@font-face{
  font-family:'WawaTC-Regular';
  src:url('../fonts/WawaTC-Regular.ttf') format('truetype');
}
body{background: url(../images/bg1.png);font-family:"WawaTC-Regular" !important;}
.mar-top0  {margin-top: 0;}
.mar-top5  {margin-top: 5px;}
.mar-top10 {margin-top: 10px;}
.mar-top15 {margin-top: 15px;}
.mar-top20 {margin-top: 20px;}
.mar-top25 {margin-top: 25px;}
.mar-top30 {margin-top: 30px;}
.mar-top35 {margin-top: 35px;}
.mar-top40 {margin-top: 40px;}

.mar-bot0  {margin-bottom: 0 !important;}
.mar-bot5  {margin-bottom: 5px !important;}
.mar-bot10 {margin-bottom: 10px !important;}
.mar-bot15 {margin-bottom: 15px !important;}
.mar-bot20 {margin-bottom: 20px !important;}
.mar-bot25 {margin-bottom: 25px !important;}
.mar-bot30 {margin-bottom: 30px !important;}
.mar-bot35 {margin-bottom: 35px !important;}
.mar-bot40 {margin-bottom: 40px !important;}